.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white; /* Deep blue brand color */
  padding: 10px 20px;
  position: relative;
}

.navbar-logo img {
  height: 50px;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links li a {
  color: rgb(3, 2, 2);
  text-decoration: none;
  font-weight: bold;
}

.menu-icon {
  display: none;
  font-size: 28px;
  color: rgb(3, 2, 11);
  cursor: pointer;
}

#menu-toggle {
  display: none;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .navbar-links {
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 10px 0;
    display: none;
  }

  #menu-toggle:checked + .menu-icon + .navbar-links {
    display: none;
  }

  #menu-toggle:checked + .menu-icon + .navbar-links {
    display: flex;
  }

  .menu-icon {
    display: block;
  }
}
